---
import Layout from '../layouts/Layout.astro';
import ProfileForm from '../components/ProfileForm/ProfileForm.astro';
import ProfileBack from '../components/ProfileForm/ProfileBack.astro';

import { profileDataMock as profile } from '../mocks/sample.json';
const { email, login, first_name, second_name, display_name, phone } = profile;

const formItems = [
    {
        id: 'email',
        name:'email',
        label: email.label,
        labelClass: 'profile-form__label',
        placeholder: 'Почта',
        type: 'email' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Некорректная почта',
        value: email.value,
    },
    {
        id: 'login',
        name:'login',
        label: login.label,
        labelClass: 'profile-form__label',
        placeholder: 'Логин',
        type: 'text' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Некорректный логин',
        value: login.value,
    },
    {
        id: 'first_name',
        name:'first_name',
        label: first_name.label,
        labelClass: 'profile-form__label',
        placeholder: 'Имя',
        type: 'text' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Некорректное имя',
        value: first_name.value,
    },
    {
        id: 'second_name',
        name:'second_name',
        label: second_name.label,
        labelClass: 'profile-form__label',
        placeholder: 'Фамилия',
        type: 'text' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Некорректная фамилия',
        value: second_name.value,
    },
    {
        id: 'display_name',
        name:'display_name',
        label: display_name.label,
        labelClass: 'profile-form__label',
        placeholder: 'Имя в чате',
        type: 'text' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Некорректное имя в чате',
        value: display_name.value,
    },
    {
        id: 'phone',
        name:'phone',
        label: phone.label,
        labelClass: 'profile-form__label',
        placeholder: 'Телефон',
        type: 'tel' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Некорректный телефон',
        value: phone.value,
    }
];

const formButtons = [
    {
        href: '/profile',
        label: 'Сохранить',
        className: 'button'
    }
];

---

<Layout title="Чат | Изменение данных">
    <main class="profile-page">
        <ProfileBack />
        <ProfileForm profile={profile} formItems={formItems} formButtons={formButtons} editable={true} showTitle={false} />
    </main>
</Layout>
